method: random
metric:
  name: loss
  goal: minimize
parameters:
  train_ratio: 
    value: 0.9
  batch_size:
    value: 128
  lr:
    value: 0.003
  epochs:
    value: 300
  n_feat_dim: 
    value: 4
  embed_dim:
    values: [500,250,100,50]
  hidden_dim: 
    values: [512,256,128,64]
  num_encoder_blocks: 
    value: 5
  num_attn_heads: 
    value: 5
  dropout_gen:
    value: 0.2
  SDE:
    value: "VP"
  sigma_max: 
    value: 20.0
  sigma_min: 
    value: 0.001
  sampler_steps: 
    value: 100
  n_showers_2_gen: 
    value: 100